.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.row {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .row:nth-child(5), .row:nth-child(6) {
    display: inline-block;
    width: 48%;
  }
}

@media (max-width: 768px) {
  .row:nth-child(4), .row:nth-child(5), .row:nth-child(6) {
    display: inline-block;
    width: 31%;
  }
}

@media (max-width: 576px) {
  .row:nth-child(3), .row:nth-child(4), .row:nth-child(5), .row:nth-child(6) {
    display: inline-block;
    width: 23%;
  }
}

@media (max-width: 360px) {
  .row:nth-child(2), .row:nth-child(3), .row:nth-child(4), .row:nth-child(5), .row:nth-child(6) {
    display: inline-block;
    width: 18%;
  }
}

@media (max-width: 320px) {
  .row {
    display: block;
    width: 100%;
  }
}

/* profile page swal notification */
.swal-title {
  font-size: 22px; /* Adjust title font size */
}

.swal-text {
  font-size: 16px; /* Adjust text content font size */
}
.swal-container {
  width: 400px !important; /* Adjust width of the container */
  height: 300px !important; /* Adjust height of the container */
}

.swal-popup {
  width: 400px !important; /* Adjust width of the popup */
  height: 300px !important; /* Adjust height of the popup */
}
/* in AC page i want ac_div id element scroll */
    #c_div {
        position: relative; /* Ensure the position is relative */
        max-height: 100vh; /* Set the maximum height */
        overflow: hidden; /* Hide the scrollbar initially */
        z-index: 1;
      }
      
      #c_div::-webkit-scrollbar {
        width: 0; /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
      }
      
      #c_div:hover {
        overflow-y: auto; /* Show scrollbar on hover */
      }

      /* Inside your CSS file, add the following styles */

     
      /* .timing-dropdown {
        display: flex;
        flex-direction: column;
      }
      
      .timing-dropdown .ant-dropdown-menu-submenu-title {
        display: block;
      }
      
      .timing-dropdown .ant-dropdown-menu-item {
        padding-left: 24px; /* Adjust as needed */
      /* } */ 

      /* In cartservices page timepicker antd dropdown model shows in row above 1060px because of display:flex. */
    
/* Override flex display for dropdown menu items to display in a column */
:where(.css-dev-only-do-not-override-1kuana8)[class^="ant-dropdown"], 
:where(.css-dev-only-do-not-override-1kuana8)[class*=" ant-dropdown"] ul {
  flex-direction: column !important; /* Change flex direction to column */
  align-items: flex-start !important; /* Align items to the start (left) */
  
  
}

/* In cartservices page datepicker needconfirm ok button touches today button in mobileview */
:where(.css-dev-only-do-not-override-1kuana8).ant-btn-sm {

  margin-left: 10px;
}





/*Modal design*/
.custom-modal{
    .ant-modal-content {
      background-color: rgba(162, 237, 229, 0.732); 
    }
}

.custom {
    .ant-modal-content {
      background-color: rgba(255, 255, 255, 0.832); 
    }
}
 

  .nav-c {
    background-color: rgb(8, 8,80);
  }

  .ant-modal .ant-modal-content{
    position: relative;
  }

  .ant-modal .ant-modal-content{
    position: relative;
  }
 

  .slick-next {
    right: 10px;
    background: rgb(243, 243, 243) !important;
    border-radius: 7px;
  }
  
  .slick-prev {
    left: 10px;
    z-index: 2;
    background: rgb(243, 243, 240) !important;
    
  }
  

  .slick-prev:before,
  .slick-next:before {
    color: rgb(0, 0, 0) !important;
  }

  .custom-spinner .ant-spin-dot-item {
    background-color: red; /* Change to your desired color */
}
  
  .drop:hover .drop-menu {
    display: block;
  }
.nav{
    position: sticky;
    top:0;
    background-color: rgba(8, 8, 67);
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: 4%;
    
    
}
.logo{
   display: flex;
   align-items: center;
   width:190px;
   margin-left: 25px;
   margin-right: 0%;
}

.list{
    
   margin-left: 2%;
  
} 

.active{
    background-color: rgb(22, 139, 185);
    box-shadow: 1px 1px 1px 1px rgb(153, 222, 210);
    border-radius: 5px;
}
.link:hover{
    background-color: rgb(22, 139, 185);
    box-shadow: 1px 1px 1px 1px rgb(153, 222, 210);
    border-radius: 5px;
}


.login:hover{
    box-shadow: 2px 3px 3px 2px rgb(193, 144, 54);
    border-radius: 10%;
    transition: all 0.5s ease;
} 



.menu-icon{
    display: none;
}

/* Hamburger and Cancel Icon Transitions */
.hammenu-icon,
.cancel-icon {
  position: absolute;
  font-size: 2rem;
  background-color: rgb(8, 8, 67);
  top: 10%;
  right: 3%;
}



/* Animation for Hamburger Icon */
@keyframes spin-hamburger {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* Animation for Cancel Icon */
@keyframes spin-cancel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.animate-hamburger {
  animation: spin-hamburger 0.3s ease;
}

.animate-cancel {
  animation: spin-cancel 0.3s ease;
}

/* Navbar scroll mob view */
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


@media screen and (min-width: 300px) and (max-width: 500px){
    /* .nav{
        
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
        
        /* white-space: nowrap; */
    /* } */ 
   
    .logo{
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 9px;
        margin-left: 25px;
       
    }
    
    /* .nav-items{
        height: 100vh;
        width: 100vh;    // this is takeover other div when mob - view then i cant do any function like click. after remove this it work properly.
    } */
    .desk{
        display: none;
    }
    .mob{
        position: absolute;
        display: block;
        background-color: rgba(8, 8, 67);
        left: 0;
        top: 100%;
        animation: slideInFromTop 0.8s forwards; /* Apply the animation */
        width: 100%;
         
    } 
    ul{
        /* display: flex;
        flex-wrap: nowrap; */
        display: block;
        width: max-content;
       
        margin: 0%;
        
    }
    .list{
        text-align: center;
        padding-bottom: 27px;
        height: 80px;
        transition: all 0.5s ease;
       
    }
   
    .login{
        text-align: center;
        transition: all 0.5s ease;
    }

    .menu-icon{
        display: block;
        position:absolute;
        font-size: 3rem;
        background-color: rgb(8, 8, 67);
        top: 10%;
        right: 3%;
    }

    
}

@media screen and (min-width: 500px) and (max-width: 768px){
    .logo{
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 9px;
        margin-left: 25px;
    }
    .desk{
        display: none;
    }
    .mob{
        position: absolute;
        display: block;
        background-color: rgb(8, 8, 67);
        left: 0;
        top: 100%;
        animation: slideInFromTop 0.8s forwards; /* Apply the animation */
        width: 100%;
    } 
   
    ul{
        display: block;
        width: max-content;
        margin: 0%;
    }
    .list{
        text-align: center;
        padding-bottom: 27px;
        height: 80px;
        transition: all 0.5s ease;
    }
    
    .login{
        text-align: center;
        transition: all 0.5s ease;
    }

    .menu-icon{
        display: block;
        position:absolute;
        font-size: 3rem;
        background-color: rgb(8, 8, 67);
        top: 10%;
        right: 3%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 1060px){
    .logo{
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 9px;
        margin-left: 25px;
    }
    .desk{
        display: none;
    }
    .mob{
        position: absolute;
        display: block;
        background-color: rgb(8, 8, 67);
        left: 0;
        top: 100%;
        animation: slideInFromTop 0.8s forwards; /* Apply the animation */
        
        width: 100%;
        
        
    } 
   
   
    ul{
        display: block;
        
       
        margin: 0%;
    }
    .list{
        text-align: center;
        padding: 25px;
        
        transition: all 0.5s ease;
    }
    
   
    
    .login{
        text-align: center;
        transition: all 0.5s ease;
      
    }

    .menu-icon{
        display: block;
        position:absolute;
        font-size: 3rem;
        background-color: rgb(8, 8, 67);
        top: 10%;
        right: 3%;
    }
    
      
}

/* Large devices (desktops, 1024px and up) */
 @media screen and (min-width: 1060px) and  (max-width: 1600px){
    logo{
        display: flex;
        position: absolute;
        margin-left: 45px;
    } 
   
} 

/* Extra large devices (large desktops, 1440px and up) */

  
  
  